@* @model OT.Models.Post

@{
    ViewData["Title"] = "Subscribe";
}

<h1>Delete</h1>

<h3>Are you sure you want to subscribe to this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscribers)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscribers)
        </dd>
    </dl>
    
    <form asp-action="Subscribe">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Subscribe" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@
